@charset "utf-8";
/* CSS Document */
.banner{ color:#171717; font-size:44px; padding:158px 0 199px 82px; line-height:54px;}
.banner .title{margin-bottom:3%;}
.banner .title span{color:#2840af;}
.banner .title span.txt{color:#fff; font-size:40px;}
.banner .small-title{color:#fff; font-size:16px;}
.banner .small-title a{width:151px; height:46px; border-radius:46px; background:#1c3381; font-size:18px; color:#fff; display:block; text-align:center; line-height:46px; text-decoration:none;}

.g-title{color:#fff; font-size:36px; margin:60px 0; text-align:center; margin-bottom: 30px}
.g-title small{color:#fff;}
.vision{margin:0 auto 109px ; padding-top:106px;}
.zcash{width:1280px; margin:0 auto;}
.service-list{padding:20px 20px;}
.features-text {
	width:475px;
    height: 120px;
	float:left;
  margin: 40px 100px 0 25px;
}
.features-text img{padding-bottom:30px; margin-right:20px; float:left;}
.features-text p {
    color: #fff;
    font-size: 16px;
}
.service-list .col-sm-2{
	width:200px;
	 float:left;
	 padding:20px;
}
.service-list .services-bg {
    background: #fff;
    padding: 20px 15px;
    height: 219px;
	text-align:center;
	box-shadow: 0px 0px 40px rgba(50,65,165,.2);
}
.service-list .services-bg img{padding-top:17px;}
.service-list .services-bg p{ text-align:left;}
.service-list h2 {
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 600;
    color: #252755;
	margin:25px 0 30px 0;
}
.section1{min-width:1200px; background:url(../images/b_bg1.jpg) no-repeat center -4px; overflow:hidden;}
.section2{min-width:1200px; background:url(../images/b_bg2.jpg) no-repeat top center;overflow:hidden;}
.section3{min-width:1200px;overflow:hidden;}

/*Application Scenarios*/
.Application{position:relative; height:842px;}
.Application .col-md-3{ position:relative; z-index:1;width:238px;padding: 15px 15px; border: 1px solid #096DDF; float:left; margin:0 40px;box-shadow: 0px 0px 40px rgba(50,65,165,.2);}
.Application .col-md-3 h2{margin:10px 0 20px 0; color: #46D8E8}
.Application .col-md-3.middle{width:280px; margin:500px 89px 15px;}
.Application .col-md-6{ position:absolute; top:30px; left:362px;}
.Application02 {position:relative; height:842px;}
.Application02 .col-md-3{ position:absolute; z-index:1;width:238px;padding: 15px 15px; float:left; box-shadow: 0px 0px 40px rgba(50,65,165,.2);}
.Application02 .col-md-3 h2{margin:10px 0 20px 0; color: #fff; font-size: 22px}
.Application02 .col-md-3 p{color:#04B1B8}
.Application02 .col-md-3.middle{width:280px;}
.Application02 .col-md-6{position:absolute; top:300px; left:362px;}
.Application02 .col-md-6 img{width: 548px}
.mission .features-text{}
.features-block { margin-top: 40px; overflow:hidden;}
.features-block .col-lg-6{width:600px; float:left;}
.features-block .features-text{width:450px; padding:0 20px; margin:0 110px 0 0;}
.features-block .features-text-right{margin:0 0 0 110px;width:450px; padding:0 20px;}
.features-block .col-lg-6 h2{margin:80px 0 30px 0; color:#02C5D5;}
.features-block .col-lg-6 img{ margin:0 auto; display:block;}
#Features{margin-top:90px;}
/*timeline*/
.timeline{margin:110px 0 0;}

.Mentors .col-sm-6{width:550px; float:left;}
.team-member {
	margin:0 auto;
  text-align: center;
   padding: 25px;
   height:340px;
}
.team-member img {
  margin: auto;
    width: 100px;
}
.team-member h4{
	color:#02C5D5;
	font-size:22px;
	margin:20px 0 10px;
}
.team-member .blue-txt{
	color:#fff;
	font-size:18px;
}
.Mentors{margin-bottom:30px;}
.Mentors .team-member{ height:auto; background:none; margin:60px 0 0; text-align:left;}
.Mentors .team-member h4{border:none; padding-bottom:0; margin-bottom:0; line-height:45px; text-align:center; }
.Mentors .team-member .blue-txt{line-height:30px;}
.team{width:1230px; margin:84px auto 90px; padding:20px 0;}
.team .col-sm-4{width:500px; height:520px; float:left; margin:0 38px 30px;margin-left:65px;box-shadow:0 0 15px rgba(53,101,253,0.2);border:1px solid #096DDF}
.team .col-sm-4 p{ text-align:left; color:#fff}
.team .col-sm-4 .team-member .blue-txt{
	display:inline-block;
	margin:20px 0 10px;
}
.g-title span{color: #fff; font-size:22px; line-height:65px;}
.testimonials-text{ position:relative; text-align:center; }
.time-chart{height:541px; background:url(../images/pic_history.png) no-repeat center bottom;}
.timeline li.time{position:absolute; width:150px; line-height:25px; text-align:left;background:#0969D9;box-shadow:0 0 15px rgba(53,101,253,0.2);}
.timeline li.time img.icon-b{ position:absolute;cursor:pointer;}
.timeline li.time img.arrow{ position:absolute;bottom:-10px; left:50%;}
.timeline li.time h2,.timeline li.time p ,.timeline li.time .arrow{display:none;}
.timeline li.time h2{font-size:18px; margin:0; padding:10px;}
.timeline li.time p{font-size:16px; padding:10px; color:#fff}
.timeline li.time1{top:280px; left:20px;}
.timeline li.time2{top:250px; left:90px;}
.timeline li.time3{top:180px; left:180px;}
.timeline li.time4{top:210px; left:280px;}
.timeline li.time5{top:120px; left:380px;}
.timeline li.time6{top:110px; left:450px;}
.timeline li.time7{top:150px; left:530px;}
.timeline li.time8{top:100px; left:630px;}
.timeline li.time9{top:50px; left:730px;}
.timeline li.time10{top:-20px; left:800px;}
.timeline li.time11{top: -100px;left: 900px;}
.timeline li.time12{top: -100px;left: 950px;}
.timeline li.time11 h2,.timeline li.time11 p ,.timeline li.time11 .arrow{display:inline-block;}

.timeline li.time1 img.icon-b{top: 145px;left: 70px;}
.timeline li.time2 img.icon-b{top: 160px;left: 95px;}
.timeline li.time3 img.icon-b{top: 215px;left: 95px;}
.timeline li.time4 img.icon-b{top: 165px;left: 80px;}
.timeline li.time5 img.icon-b{top: 230px;left: 75px;}
.timeline li.time6 img.icon-b{top: 210px;left: 98px;}
.timeline li.time7 img.icon-b{top: 135px;left: 108px;}
.timeline li.time8 img.icon-b{top: 145px;left: 100px;}
.timeline li.time9 img.icon-b{top: 150px;left: 90px;}
.timeline li.time10 img.icon-b{top: 170px;left: 110px;}
.timeline li.time11 img.icon-b{top:200px;left: 90px;}
.timeline li.time12 img.icon-b{top: 135px;left: 135px;}

.QA{margin-top:70px;}
.QA .features-text{height:320px; margin-left:40px;}
.QA .features-text h2{margin:20px 0 30px 0;}
.QA .features-text p{ font-size:18px;}
.vadio{position:relative; height:475px;margin:95px 114px 0 158px; padding:49px 0 0 140px; background:url(../images/radio_bg.png) no-repeat 0 0; cursor:pointer;}
.vadio .icon-begin{ position:absolute; left:497px; top:214px; margin:0; z-index:999;}
.video-js .vjs-big-play-button{background:#3d2de5; border:none;}



